[2015-12-02 19:00] andreas-bok-sociomantic opened #1 "Update README and CHANGELOG"
Add information to README and CHANGELOG

Changes to the official libdrizzle at launchpad

[2015-12-04 10:11] andreas-bok-sociomantic opened #2 "Merging original development branches"
There are two development branches at the libdrizzle redux repos which might be worth merging into our fork.
I have made efforts to add parsing of binlog events in dive. However it seems better and cleaner to have libdrizzle parse the binlog event data and let the D code call this API.

@leandro-lucarella-sociomantic , @mathias-baumann-sociomantic , @ben-palmer-sociomantic

**1 - Compiler fixes**

[2015-12-04 11:16] ben-palmer-sociomantic commented on #2
I am not sure I really understand what 1) is for but 2) looks like it is something that would be useful to have.

[2015-12-04 11:43] andreas-bok-sociomantic commented on #2
Also reckon that 1) is of less importance, but 2) could be worth looking into.

[2015-12-08 09:45] andreas-bok-sociomantic opened #6 "Add continuous integration"
Continuous integration for the repo should be added

A list of Continous Integration Services is here:
https://github.com/ligurio/Continuous-Integration-services/blob/master/continuous-integration-services-list.md

Free for opensourcea and with database support:
[TravisCI](https://travis-ci.org/)
[SemaphoreCI](https://semaphoreci.com/docs/)

[2015-12-08 10:26] andreas-bok-sociomantic opened #7 "Modify unittests"
Currently `unittests` depends on environment variables to set up connection to `mysql` db

[code]

Only `MYSQL_PORT` has a fallback value if it is not defined. Hence if `MYSQL_USER, MYSQL_PASSWORD, MYSQL_SCHEMA` defined the tests will fail.

Possible solutions
- Keep the dependency on environment variables. But info about `env var` dependency
- Move mysql config to a settings file in the `test/` f

[2015-12-08 11:04] andreas-bok-sociomantic opened #8 "Extend check-binlog test"
As described in #2 a dev branch exists which adds api for parsing binlog event data to libdrizzle-redux.
If this turns out successful test should be added for this new API

[2015-12-08 12:51] ben-palmer-sociomantic commented on #7
For `MYSQL_SERVER` it makes sense to me to use `127.0.0.1` but for user, password, and schema I don't see obvious default values. Perhaps a settings file in the test folder would be the best way to go.

[2015-12-08 19:35] leandro-lucarella-sociomantic commented on #7
Yeah, I think defaults in here will make very little sense. I don't mind keeping the env vars. Using a config file could be also nice, but bear in mind that file shouldn't be part of the repo, as it's local configuration. The config file can be simply a trivial shell script defining the variables:

[code]

then `. config.sh; run-tests`.

[2015-12-08 19:37] leandro-lucarella-sociomantic commented on #7
In any case, it should be well documented, and ideally the test should check all the env vars are defined and give a sensible error (asking to set the variables) if it's not.

Another option, if it's an option, would be to pass the mysql through the command line to the tests. `run-tests localhost user pass schema [port]`.

[2015-12-08 19:46] leandro-lucarella-sociomantic commented on #6
I've used travis-ci before, and it's OK. You just have to include a `.travis.yml` (or something like that) in the project with the commands you want to run and that's it. Oh! And set up the hooks.

[2015-12-09 09:35] andreas-bok-sociomantic commented on #6
Ok, I will go for `travis-ci`.
Will require a minor change in `bootstrap.sh` since `jenkins` was used for CI in original branch.
Should the check for the `jenkins` support simply be removed?

[2015-12-09 09:41] andreas-bok-sociomantic commented on #7
A function exists in https://github.com/sociomantic/libdrizzle-redux/blob/master/tests/unit/common.c#L76 for creating a schema.
Maybe a function could be added to set up a `test_user` as well, so `db config`  is independent of the `env` variables.
But could run into errors due `privileges`...or

[2015-12-09 10:11] andreas-bok-sociomantic commented on #6
Should I create an account on travis-ci.org or do we have **sociomantic** account for tsunami projects already?

[2015-12-09 13:38] andreas-bok-sociomantic commented on #6
I can't add the repo to travis-ci, as I am not admin on the repo. @leandro-lucarella-sociomantic  Is it better that you add the repo to travis and activate it?

[2015-12-09 15:56] leandro-lucarella-sociomantic commented on #6
I guess it would be better for @ben-palmer-sociomantic to do it. But another option would be to make you admin of this repo, as you'll be the one actually doing most of the work. I leave that to Ben.

[2015-12-10 10:54] ben-palmer-sociomantic commented on #6
![screenshot from 2015-12-10 11 52 07](https://cloud.githubusercontent.com/assets/2894657/11713605/bf75fe16-9f34-11e5-8cdd-cbf12f663a66.png)

[2015-12-10 10:55] ben-palmer-sociomantic commented on #6
@leandro-lucarella-sociomantic this are the requested permissions for the travis ci testing. Is this ok to authorise? I don't see any problems but seeing the organization access made me nervous and I wanted to double check.

[2015-12-10 16:17] andreas-bok-sociomantic commented on #2
I tried testing with the branch containing binlog eventdata parsing  https://code.launchpad.net/~2591kuldeep/libdrizzle/libdrizzle-binlogapi/+merge/180569

However it doesn't read the eventdata correctly, at least not with the supplied [example](http://bazaar.launchpad.net/~2591kuldeep/libdrizzle/libdrizzle-binlogapi/view/head:/docs/examples/binlog-read-api.rst)

In spite of this, the modelling of

[2015-12-10 17:43] andreas-bok-sociomantic commented on #7
The manual does mention the use of environment variables, user privileges and more

So I vote for not changing test cases but refer to section **3.2 Running the Test Suite**  in the manual

[2015-12-16 11:23] ben-palmer-sociomantic commented on #6
So after briefly granting access to travis-cl to this repo from my sociomantic account it seems this needs organization access so it would be better to do it from a non sociomantic account so I have reverted the application permissions. See also https://github.com/sociomantic/microbe/issues/67 for microbe. So instead I will grant administrator rights to @bokchan and he can grant the permissions to

[2015-12-16 11:28] ben-palmer-sociomantic commented on #6
@leandro-lucarella-sociomantic would you prefer we start a new `external-libdrizzle-redux` team and add @bokchan to it or shall I just add him as an admin collaborator?

[2015-12-16 11:31] ben-palmer-sociomantic commented on #6
(just as a note as well this would be worth adding to the open sourcing guidelines to prevent any confusion or more serious granting of application authorization problems - e.g. access to repos)

[2015-12-16 14:24] leandro-lucarella-sociomantic commented on #6
Adding him as admin collaborator should be fine.

[2015-12-16 15:18] bokchan commented on #6
I now see the libdrizzle-redux when using travis-ci under my private github account.

[2016-01-05 15:47] andreas-bok-sociomantic commented on #6
Travis CI now works with the repo, cf. #11

[2016-01-05 20:19] leandro-lucarella-sociomantic commented on #1
it would be nice to link the related PR too :)

[2016-01-05 20:31] andreas-bok-sociomantic commented on #1
Closed with PR #4

[2016-01-05 20:31] #1 closed

[2016-01-06 11:17] andreas-bok-sociomantic opened #12 "Add jenkins build-script for libdrizzle-redux"
`libdrizzle-redux` should be added to `jenkins`, so the library is installed for projects using the library

An target for building an `RPM`  package in the **Makefile target** but none building a `deb package`.
However `RPM` target fails due to missing dependencies.

What steps are necessary to add a build-script for `libdrizzle-redux` to `jenkins`

Input would be appreciated, @leandro-lucarella-

[2016-01-06 11:25] nemanja-boric-sociomantic commented on #12
Is that the case?

It wouldn't magically help here, as IIRC it has no idea how to create deb package out of box, look into tango repo, it's just calling build script I think.

[2016-01-06 11:28] nemanja-boric-sociomantic commented on #12
https://wiki.debian.org/IntroDebianPackaging might be helpful

[2016-01-06 11:49] #12 closed

[2016-01-07 13:44] andreas-bok-sociomantic opened #13 "Update project infomation"
How should [**COPYING**](https://github.com/sociomantic/libdrizzle-redux/blob/master/COPYING) and [**AUTHORS**](https://github.com/sociomantic/libdrizzle-redux/blob/master/AUTHORS) be updated after
the forking of the official `libdrizzle-redux`

Current license is `Simplified BSD Licence`

Current authors are:
[code]

[2016-01-07 21:12] leandro-lucarella-sociomantic commented on #13
I think we can add a Copyright (C) 2015-2016 Sociomantic Labs GmbH in the COPYING file and your name in the AUTHORS file. Here is a related stackoverflow question: http://programmers.stackexchange.com/questions/114701/what-are-the-legal-considerations-when-forking-a-bsd-licensed-project

Whatever we do, I would send an e-mail to the previous authors to see if they see anything wrong with our appro

[2016-01-08 13:16] andreas-bok-sociomantic commented on #7
This issue will be resolved with #11

[2016-01-20 11:39] andreas-bok-sociomantic commented on #13
Related PR closed #15

[2016-01-20 11:39] #13 closed

[2016-01-20 11:40] andreas-bok-sociomantic commented on #6
Related PR #11

[2016-01-20 11:40] #6 closed

[2016-01-20 11:41] #7 closed

[2016-03-02 13:03] andreas-bok-sociomantic opened #24 "Update documentation"
Documentation needs to be updated to reflect, the changed library
linking name, i.e. `-ldrizzle-redux`

This includes :
 - README
 - wiki

[2016-03-18 14:19] andreas-bok-sociomantic commented on #24
Fixed by PR #26

[2016-03-18 14:19] #24 closed

[2016-04-06 14:59] andreas-bok-sociomantic opened #29 "Use fpm to build RPM package"
Build rpm package using fpm. This simplifies the build script.

[2016-07-15 15:11] andreas-bok-sociomantic opened #33 "Refactor libdrizzle-redux to use epoll"
Currently the `poll` and `select` is used for handling the asynchronous io.

`epoll` offers several advantages which allows for improved scalability and more flexibility on the client side of the api

[2016-07-15 15:23] andreas-bok-sociomantic opened #34 "Make binlog support integration client side epoll"
The current implementation of **binlog** can't be used with a **NON_BLOCKING** connection.
As a consequence clients can't integrate libdrizzle's binlog with eg. an `epoll` based architecture

To resolve the problem the function [`drizzle_binlog_start`](https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/master/libdrizzle/binlog.cc#L75) should be refactored so internal calls to drizzle fun

[2016-07-15 16:06] leandro-lucarella-sociomantic commented on #34
Oh, damn! Is there any technical reason for that? (`binlog` connection not using `NONBLOCK`)

[2016-07-15 16:47] andreas-bok-sociomantic commented on #34
[code]

The reason is not stated in the doc. Could be that a client would typically only use one process/connection

The error happens in [drizzle_binlog_start](github.com/sociomantic-tsunami/libdrizzle-redux/blob/master/libdrizzle/binlog.cc#L95) where the call to `drizzle_query` with **NON_BLOCKING** makes `ret` be `DRIZZLE_RETURN_IO_WAIT`. On the client side we expect `drizzle_binlog_start` to r

[2016-07-15 17:20] nemanja-boric-sociomantic commented on #34
The reason is that this custom method (in libdrizzle) was just not written with non-blocking IO in mind.

[2016-07-15 17:20] nemanja-boric-sociomantic commented on #34
(As it contains from many composite calls not made in non-blocking fashion).

[2016-07-29 16:57] andreas-bok-sociomantic opened #35 "Improve manpage documentation"
Two issues relates to generating manpage documentation

- Running `make man` produces an error, cf below:
- The generated manpage is incomplete wrt the libdrizzle api

config.status: creating docs/conf.py

  File "/usr/local/lib/python2.7/dist-packages/sphinx/environment.py", line 1259, in get_doctree
    f = open(doctree_filename, 'rb')
IOError: [Errno 2] No such file or directory: u'/******/libd

[2016-07-30 13:02] andreas-bok-sociomantic opened #36 "Output location for shinx generated documentation"
Currently generated documentation is written to the same directory as the documentation `.rst` source  files.
Changing the location of the generated documentation to different top level directory would make a better separation of source and output.

[2016-08-04 11:51] andreas-bok-sociomantic opened #40 "Assess merging libdrizzle-redux developement branch 5.2"
We used the latest stable version of libdrizzle-redux 5.1.4 Felmingham as base for this repository.

As a question for original authors, @LinuxJedi @BrianAker, @wiml, @Shrews of the library: What is your assessment of the status (stability) of the development branch 5.2 wrt. merging it into this repository?

I haven't gone through all the revisions but e.g. the commit [**Avoid blocking in drizzle_

[2016-08-04 13:55] LinuxJedi commented on #40
I don't actually remember the state of 5.2 at all, or if there was anything there apart from merges from 5.1. I also haven't tested Wim's branches but he is a competent engineer so I suspect it will work.

[2016-08-04 15:32] andreas-bok-sociomantic commented on #40
@LinuxJedi, thanks for the reply.

I took a look at the diff and AFAICS the biggest changes are wrt. the `event_watch_fn` which we added back into the lib and the 5.2 changes in `conn.cc`.

[2016-08-08 09:17] andreas-bok-sociomantic commented on #35
Resolved with #38

[2016-08-08 09:17] #35 closed

[2016-08-08 10:24] andreas-bok-sociomantic commented on #34
FYI @leandro-lucarella-sociomantic, @mathias-baumann-sociomantic, @ben-palmer-sociomantic, @nemanja-boric-sociomantic

I was looking into #40 in the weekend and found that there is a more fundamental problem with non-blocking connections in drizzle-redux:

The bug was addressed in the development branch https://code.launchpad.net/~wiml-omni/libdrizzle/nonblocking
However this was merged into the o

[2016-08-08 12:42] ben-palmer-sociomantic commented on #34
That seems like a reasonable solution to me. We can add this code as a PR and test against it.

[2016-08-09 08:40] #36 closed

[2016-08-09 08:56] andreas-bok-sociomantic commented on #40
Created #41 #42 to address this issue

[2016-08-25 10:13] andreas-bok-sociomantic opened #45 "Blank pages in generated PDF documentation"
The generated pdf documentation using `make latexpdf` contains blank pages, cf attached file

Probably related to missing or faulty config of latex.
[libdrizzle.pdf](https://github.com/sociomantic-tsunami/libdrizzle-redux/files/436677/libdrizzle.pdf)

[2016-08-29 12:14] gavin-norman-sociomantic opened #48 "README lacks information on why this project is forked"
The README mentions that this project is a fork of the official libdrizzle redux, but does not describe why this has been done or what the differences are.

[2016-08-29 12:16] gavin-norman-sociomantic commented on #48
The [README of sociomantic-tsunami/ebtree](https://github.com/sociomantic-tsunami/ebtree#differences-with-upstream), for example, describes how it is different from the upstream repo.

[2016-08-30 16:07] andreas-bok-sociomantic opened #52 "Simplify automake include file for unittests"
Adding a unittest currently requires manually adding several lines to the `include.am`. See below
A less redundant way of defining unittest make targets should be devised.

[code]

[2016-08-30 16:08] andreas-bok-sociomantic commented on #52
makefile jedi @leandro-lucarella-sociomantic
An idea how to achieve this?

https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/master/tests/unit/include.am

[2016-08-31 15:02] leandro-lucarella-sociomantic commented on #52
I don't understand what you have to do to add a new unit test, so `connect.c` is your new test file and all the rest is boilerplate?

[2016-08-31 15:42] andreas-bok-sociomantic commented on #52
Yes

[2016-08-31 15:52] andreas-bok-sociomantic commented on #52
is the answer makd :) Makeit of course

[2016-08-31 18:08] leandro-lucarella-sociomantic commented on #52
I think it might be less work to use something like:

[code]

Untested, and I'm not sure if you can use macros so lightly inside automake, but it might be worth trying...

[2016-08-31 18:11] leandro-lucarella-sociomantic commented on #52
Or maybe you have to use it with `$(eval)`, I don't remember exactly. Maybe you need to do something similar to https://github.com/sociomantic-tsunami/makd/blob/4d617b1624ab0d1a890e5d91957903b92abe9f65/Makd.mak#L317-L323.

[2016-09-02 10:59] andreas-bok-sociomantic commented on #52
TX luca, I will try out your suggestions

[2016-09-02 11:07] andreas-bok-sociomantic opened #54 "Add example code for use of set_event_watch_fn"
The documentation should provide example code for the use of `set_event_watch_fn` which was added (back) in [**libdrizzle v5.2.0**](https://github.com/sociomantic-tsunami/libdrizzle-redux/releases/tag/v5.2.0)

[2016-09-05 07:54] ben-palmer-sociomantic commented on #54
Not sure if this is out of scope of this issue but it would be good to add documentation and sample code for the non-blocking binlog stuff as well.

[2016-09-06 10:43] andreas-bok-sociomantic opened #55 "Error compiling in MinGW"
The original bug, https://bugs.launchpad.net/libdrizzle/+bug/1164056

I'm attempting to compile 5.1.3 on a **MinGW** platform and I get the following:

[code]

I read that a patch to solve this was supposed to have been merged. Do the patches still need to be merged? I honestly haven't been able to dig any further as I've been tied up in other fires but it would be nice to get a fix for this one.

[2016-09-06 12:19] andreas-bok-sociomantic opened #56 "Error compiling for clang"
The following compile error is emitted with `CC=clang CXX=clang++ ./configure && make`

[code]

[code]

[2016-09-09 20:41] andreas-bok-sociomantic opened #62 "Compile error with clang on osx for long long"
[code]

Running `./configure` gives the following error

[code]

The code in question is :

[code]

The origin of the bug seems to be this commit 42823bf941c26c6b3a36f83b4e33abd207e3e57c, after which field sizes and offsets were stored as`uint64_t`

Possible fixes are:
1.  Remove `_APPEND_COMPILE_FLAGS_ERROR([-Wlong-long])` from compile flags, i.e. removing this line from [ax_harden_compiler_flags

[2016-09-11 11:58] andreas-bok-sociomantic opened #64 "Wrong configuration of environment variables in travis.yml"
Currently environment variables are defined as four items in the `env` array

[code]
However each item triggers a build ([Defining-Multiple-Variables-per-Item](https://docs.travis-ci.com/user/environment-variables/#Defining-Multiple-Variables-per-Item)), making the build process redundant and longer.

None of the builds failed because the environment variables are also defined in the `travis-ci` r

[2016-09-11 18:15] andreas-bok-sociomantic commented on #40
Closing this issue since related PRs have been merged

[2016-09-11 18:15] #40 closed

[2016-09-11 18:16] #48 closed

[2016-09-12 16:39] #56 closed

[2016-09-12 16:40] andreas-bok-sociomantic commented on #64
Closed with #63

[2016-09-12 16:40] #64 closed

[2016-09-13 11:31] andreas-bok-sociomantic opened #66 "Unittest event_callback fails occasionally"
Currently the correctness of the user callback function `event_watch_fn` is checked by asserting that the function was called an exact number of times.
However the number of callbacks varies with the availability of the underlying socket. This causes the unittest to fail occasionally

[2016-09-13 14:34] andreas-bok-sociomantic commented on #34
The issue has been addressed by #53. However the patch comes at a price. It allows the client to use a non-blocking connection by registering the file descriptor with the async io mechanism of choice. But, but, but parsing of raw binlog data has to be done by the clien, i.e. the client needs to implement [drizzle_state_binlog_read()](https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/mas

[2016-09-14 14:12] #66 closed

[2016-09-16 12:26] #34 closed

[2016-09-21 17:56] andreas-bok-sociomantic commented on #2
This issue was resolved with release [v5.3.0](https://github.com/sociomantic-tsunami/libdrizzle-redux/releases/tag/v5.3.0)

[2016-09-21 17:56] #2 closed

[2016-09-29 15:09] andreas-bok-sociomantic opened #75 "Make upstream repo semver-philiac"
Change the layout so the following holds true:

At any given point of time, there must be at least these branches in the git
repo:

* The last released major version (e.g. v3.x.x), which is used for all feature
  development and is configured to be the default branch in GitHub.
* The last feature release (e.g. v3.1.x), where all bug fixes go by default.

Also, when the necessity of a breaking chan

[2016-10-03 17:17] #75 closed

[2016-11-28 21:29] andreas-bok-sociomantic opened #80 "Add -lssl to documentation and examples"
With PR #78 `-lssl` should be added back to examples and documentation.
~(It shouldn't have been removed at all)~

[2016-11-28 21:42] andreas-bok-sociomantic opened #81 "Add unittest for SSL feature"
Unittests should be written to test the SSL api.

[2016-11-28 21:43] andreas-bok-sociomantic commented on #81
Blocked on #78

[2016-11-30 14:23] andreas-bok-sociomantic commented on #80
This pertains only to the list of dependencies in the RELEASE NOTES.

[2016-12-01 10:23] #80 closed

[2016-12-15 15:42] andreas-bok-sociomantic opened #90 "v5.4.0 breaks binary compatibility"
The **ABI** bump to `10.0.0` breaks the binary compatibility.
However version `v5.4.0` is compatible with the previous minor version `v5.3.4`

[2016-12-16 15:59] andreas-bok-sociomantic opened #92 "Review ABI versioning scheme"
Following the guide in `configure.ac` for bumping the ABI version can lead to binary incompatibility.
A less error prone versioning scheme should be considered.

[2016-12-16 16:49] mathias-lang-sociomantic commented on #92
- Major: Part of the ABI were removed, changed, or some symbol's internal changed behavior in a way which is noticeable from outside
- Minor : New internal symbols are available (the case we had with ssl was a special case here)
- Patch: Bugfixes only

The rule to binary compatibility follows the rule of source compatibility:
- You can go back and forth between patch release without any change req

[2016-12-18 00:18] andreas-bok-sociomantic opened #95 "Reorganize directory structure"
The current project structure is shown below:

[code]

The directory structure should be changed to a more general layout. Some concerns are listed below:

- General sources and headers for the public interface should be located in `src` and `include` respectively.
- A top level directory where packaging configuration, currently `deb` and `rpm`.
- A top level `build` directory which contains all o

[2016-12-18 18:24] #90 closed

[2017-01-03 18:32] andreas-bok-sociomantic commented on #52
Somewhat related to #95

[2017-01-05 11:06] mathias-baumann-sociomantic commented on #33
Is that really required or even an issue with https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/c07059be4eb5027c593391848165141c4ef4a655/libdrizzle-5.1/drizzle.h#L171-L188 existing?

[2017-01-05 11:29] andreas-bok-sociomantic commented on #33
It is meant for "future work". For the current use cases it isn't necessary but given the advantages of `epoll` it might still be worth looking into.

[2017-01-05 13:05] mathias-baumann-sociomantic commented on #33
But you can use epoll in every use case, that's what I mean ;)

[2017-01-05 13:14] andreas-bok-sociomantic commented on #33
Well it isn't supported on all platform so poll and select should still be there

[2017-01-05 14:22] mathias-baumann-sociomantic commented on #33
I feel so misunderstood

[2017-02-08 13:49] andreas-bok-sociomantic commented on #95
I have looked into `meson` and `ninja` and `cmake`. Given the de facto standard of `cmake` I will opt that tool.

[2017-02-08 13:55] andreas-bok-sociomantic opened #100 "Create bindings for multiple languages"
It could be great to offer bindings for other languages than `C` and `C++` and add them to this repo project or create a separate project.

Swig offers generation of wrappers and interfaces for several languages from C++
- Allegro CL
- C#
- CFFI
- CLISP
- Chicken
- D
- Go
- Guile
- Java
- Javascript
- Lua
- Modula-3
- Mzscheme
- OCAML
- Octave
- Perl
- PHP
- Python
- R
- Ruby
- Scilab
- Tcl
- UFFI

[2017-02-08 13:59] andreas-bok-sociomantic commented on #45
Resolved by #96

[2017-02-08 13:59] #45 closed

[2017-02-08 14:09] andreas-bok-sociomantic opened #101 "Add documentation to readthedocs.org"
Read the Docs hosts documentation, making it fully searchable and easy to find.
It requires a few changes to the project setup to allow the ReadTheDocs webhook, http://docs.readthedocs.io/en/latest/webhooks.html

[2017-02-22 10:52] ben-palmer-sociomantic opened #109 "Connection timeout value is never used"
From my initial investigation the libdrizzle-redux connection timeout is never used. It is set using the `drizzle_set_timeout` function (https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/ec0f61b255d0cddb123c368f429d80b6cbf7646f/libdrizzle/drizzle.cc#L151) but it is never actually used.

Instead the `DRIZZLE_DEFAULT_SOCKET_TIMEOUT` which defaults to 10 seconds is always used in the conne

[2017-02-22 11:01] andreas-bok-sociomantic commented on #109
Ah yes,
the `timeout` value is used when doing the poll,
https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/ec0f61b255d0cddb123c368f429d80b6cbf7646f/libdrizzle/drizzle.cc#L336

But not the `waittime` for the socket connection.
I might add that as an option on the drizzle struct

[2017-02-22 16:28] ben-palmer-sociomantic commented on #109
Looking at this a bit more there are a couple of other points:
1) The call to `drizzle_wait` only happens when we are not using non-blocking mode right?
2) So we have two different timeouts here. Currently the timeout is setting the poll timeout but the documentation is claiming that it is setting a socket level IO (https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/c07059be4eb5027c59339

[2017-02-22 16:44] andreas-bok-sociomantic commented on #109
Yes

Yes that is definitely inconsistent and should be fixed IMO. Should the poll and socket timeouts be be separate config values?

[2017-03-10 16:17] andreas-bok-sociomantic opened #117 "ms"
13

[2017-03-10 17:23] ben-palmer-sociomantic commented on #117
errr?

[2017-03-10 17:42] andreas-bok-sociomantic commented on #117
fooling around with a git hub cli tool, not git-hub though.

[2017-03-10 17:42] #117 closed

[2017-03-20 17:16] mathias-baumann-sociomantic opened #120 "Check for error packets while doing handshake"
It is possible to receive an error packet when doing the handshake, however the code doesn't check for that.

The check needs to be added here:
https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/42d7a60183dd2eb6ec9033447353ef36882e480b/libdrizzle/handshake.cc#L101

There already is code doing such checks for packets arriving after the handshake, found here:
https://github.com/sociomantic

[2017-03-24 13:04] andreas-bok-sociomantic opened #125 "list"

[2017-03-24 13:04] #125 closed

[2017-03-29 12:56] #109 closed

[2017-03-30 13:25] andreas-bok-sociomantic commented on #92
Created a PR to improve the documentation of the ABI versioning, #130

[2017-03-30 13:26] andreas-bok-sociomantic commented on #95
This issue is addressed in #116

[2017-03-30 13:27] andreas-bok-sociomantic commented on #29
WIP PR: #30

[2017-04-04 15:04] andrej-mitrovic-sociomantic opened #131 "Run indenter on the codebase?"
The 2-character indentation is awful to look at and try to understand the code flow. Since we own the repo now, it would be a good idea to adapt it to our style guide.

[2017-04-04 15:09] andrej-mitrovic-sociomantic commented on #131
Since this is a C repo, I highly recommend we take advantage of existing tools like [uncrustify](http://uncrustify.sourceforge.net). There's also a [GUI Frontend](http://universalindent.sourceforge.net) which can be used to generate a configuration for the indenter with a real-time preview. I've used it before and it's very capable.

[2017-04-05 21:50] #54 closed

[2017-04-05 21:51] #92 closed

[2017-04-06 16:47] andreas-bok-sociomantic opened #135 "Change the location of the output from automake"
Sanitize the build process so all that is built during `make` resides in a toplevel directory `build`

[2017-04-06 16:49] andreas-bok-sociomantic commented on #120
Fixed by #121

[2017-04-06 16:49] #120 closed

[2017-04-06 16:51] andreas-bok-sociomantic commented on #95
Closing this issue and opening a separate one #135 to address

[2017-04-06 16:51] #95 closed

[2017-04-11 20:45] bokchan commented on #101
The docs are live on readthedocs.io albeit run managed by @bokchan
The url for the documentation has the form: `http://libdrizle-redux.readthedocs.io/en/[version]/`

Currently the following versions are available:

- http://libdrizle-redux.readthedocs.io/en/latest/ [v6.x.x]
- http://libdrizle-redux.readthedocs.io/en/stable/ [v6.0.0]
- http://libdrizle-redux.readthedocs.io/en/v6.0.0/
- http://libdr

[2017-04-12 09:23] ben-palmer-sociomantic commented on #52
Should this be closed now? Its listed as part of `v5.4.x`.

[2017-04-12 09:33] andreas-bok-sociomantic commented on #52
I would rather move it to future work. The addition of unittests is still a bit messy

[2017-04-12 14:33] #101 closed

[2017-04-13 14:45] mathias-lang-sociomantic opened #149 "libdrizzle, libdrizzle-dev and libdrizzle-dbg package versions should match"
I mistakenly installed `libdrizzle-redux-dev=5.6.0-xenial` without installing `libdrizzle-redux=5.6.0-xenial`.
Docker output:

[code]

That shouldn't be possible. One of the way to do so would be to change the package name with a new major.

[2017-04-13 16:22] andreas-bok-sociomantic commented on #149
I see, can we do this with a minor release on v6 or will it require a new major version?

[2017-04-13 16:34] mathias-lang-sociomantic commented on #149
I'd say a packaging fix won't after the ABI so we can do it in a minor. @ben-palmer-sociomantic ?

[2017-04-13 16:44] ben-palmer-sociomantic commented on #149
I'm not too up with packaging issues but if it won't alter the ABI it should be fine to do it in a minor I reckon.

[2017-04-14 17:54] andreas-bok-sociomantic commented on #135
Addressed by #143

[2017-04-20 11:09] andreas-bok-sociomantic commented on #149
I have created a PR #150 to address the issue.
I am in doubt about at what stage the major version should be added, though.  @leandro-lucarella-sociomantic

- in `configure.ac` meaning that the exported autoconf vars **PACKAGE** and **PACKAGE_NAME** will be eg. `libdrizzle-redux-6`
- when building the packages, ie.  in the `deb/build` script so the deb package is renamed from `libdrizzle-redux-6`

[2017-04-20 15:28] leandro-lucarella-sociomantic commented on #149
Should be a patch-level release if it's only a packaging change.

[2017-04-20 15:45] leandro-lucarella-sociomantic commented on #149
I'm not entirely sure either but I think adding the version to the file is mostly a debian packaging artefact, since it's the way to support installing multiple versions concurrently (actually I'm not even sure if that's necessary if the soname is properly set). I don't think the headers should include it, for that it might be better to install headers in a different directory, i.e.: `/usr/include

[2017-04-20 15:56] andreas-bok-sociomantic commented on #149
Really? :)

[2017-04-26 11:31] ruipacheco commented on #62
I tried removing `_APPEND_COMPILE_FLAGS_ERROR([-Wlong-long])` but it didn't work. Where should I add values to `CXXFLAGS`?

[2017-04-26 11:55] andreas-bok-sociomantic commented on #62
@ruipacheco I will revisit the issue asap. Stay tuned

[2017-04-26 12:18] ruipacheco commented on #62
Just to have an idea, what do you think is your ETA on this?

[2017-04-26 13:18] andreas-bok-sociomantic commented on #62
I will say by the end of this week, just to have a bit of slack.

[2017-04-26 13:35] ruipacheco commented on #62
Thanks!

[2017-04-26 13:54] andreas-bok-sociomantic commented on #62
Just out of curiousity, are you using the library in a project?

[2017-04-26 17:03] ruipacheco commented on #62
I'm toying with it for now.

[2017-04-27 08:15] ruipacheco commented on #62
Tried implementing this, got the following error:

[code]

The library builds fine on Ubuntu (without the `-long-long` fix though).

[2017-04-27 10:09] andreas-bok-sociomantic commented on #62
I did a bit of testing as well yesterday. And get the same error. The reason is that OSX doesn't support TCP_KEEPIDLE, TCP_KEEPALIVE and TCP_KEEPINTVL.
I am working on a patch which will fix that and other issues I detected.
I will post any progress here.

[2017-04-27 10:11] ruipacheco commented on #62
Thanks!

[2017-04-28 16:04] #149 closed

[2017-04-29 19:31] andreas-bok-sociomantic opened #155 "Compile error for unsupported socket option TCP_KEEPIDLE"
The #114 broke the build for systems not supporting **TCP_KEEPIDLE** for `setsockopt`,

`libdrizzle/conn.cc:1653:41: error: 'TCP_KEEPIDLE' was not declared in this scope
   ret= setsockopt(con->fd, IPPROTO_TCP, TCP_KEEPIDLE`

A check for support should be added so `setsockopt` with **TCP_KEEPIDLE** is only when it is supported

[2017-04-29 19:54] andreas-bok-sociomantic opened #157 "Bug: clang compile error when using PRIu64 format specifier for size_t"
Error:
[code]

[2017-04-29 22:23] andreas-bok-sociomantic opened #160 "Bugfix: compile flag -pthread not used by clang"
The error occurs  compiling clang and `-Wunused-command-line-argument`:

clang: error: argument unused during compilation: '-pthread' [-Werror,-Wunused-command-line-argument]

[2017-04-29 22:51] andreas-bok-sociomantic commented on #62
@ruipacheco the issues should be fixed. They should all go into v5.5.3.
If you are very eager to test it out yourself you can merge or rebase your local v5.5.x branch with #156, #158, #159 and #161

[2017-05-02 13:05] andreas-bok-sociomantic commented on #55
The build for Windows using mingw is broken at the moment.

[2017-05-02 13:40] andreas-bok-sociomantic commented on #160
Fixed by #161

[2017-05-02 13:40] #160 closed

[2017-05-02 13:42] andreas-bok-sociomantic commented on #157
Fixed in #158

[2017-05-02 13:42] #157 closed

[2017-05-08 10:01] andreas-bok-sociomantic opened #165 "Use CXX compiler for all compilation"
Apart from the unittests the library is compiled with the found CXX compiler.
Compiling the whole project with the required c++11 compliant compiler would reduce the
checks in configure and allow for future use of c++11 only features.

[2017-05-08 15:38] #155 closed

[2017-05-09 18:31] #62 closed

[2017-05-13 14:29] andreas-bok-sociomantic commented on #62
@ruipacheco the new patch release is with fixes for osx. Happy coding

[2017-05-17 12:59] andreas-bok-sociomantic opened #170 "Change install path for development headers"
With v6.0.2 development headers are installed into the path:

    /usr/include/libdrizzle-redux/libdrizzle-redux6/libdrizzle-redux

Looking at other libraries the convention seems to be that the versioned development headers are installed into a subdir of the form `libdrizzle-redux-[MAJOR].[MINOR]` version,

    /usr/include/libdrizzle-redux-6.0/libdrizzle-redux/

[2017-05-28 12:28] andreas-bok-sociomantic commented on #170
The suggested change was not compatible with the SEMVER versioning of the library

[2017-05-28 12:28] #170 closed

[2017-05-28 12:43] andreas-bok-sociomantic opened #176 "Fix invalid parsing of MYSQL_PORT env variable"
In the unittests the environment variable MYSQL_PORT is checked for `getenv("MYSQL_PORT")`, but the actual value was never read. The variable name was passed to `atoi` which always returned 0, but did not result in any connection error.
To fix this requires only a minor change from

[code]
to

[code]

[2017-05-31 11:16] #176 closed

[2017-06-09 16:21] leandro-lucarella-sociomantic opened #183 "Use beaver to upload packages to bintray"

[2017-06-20 12:02] andreas-bok-sociomantic opened #190 "Update .travis.yml to use new trusty images"
[code]

https://blog.travis-ci.com/2017-06-19-trusty-updates-2017-Q2

[2017-06-20 14:57] #183 closed

[2017-07-31 12:59] ruipacheco opened #198 "Trying to understand a piece of your code"
I'm going through the specs for the wire protocol for MariaDB, as the docs for MySQL seem to be gone, and found this tidbit about flagging null fields in the wire protocol:

https://mariadb.com/kb/en/mariadb/resultset-row/#NULL-Bitmap-values

But I don't think this matches your code: https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/8ae0bfe15e2264378b2c27e275b1c698e9fce546/libdrizzle/st

[2017-07-31 14:09] mathias-baumann-sociomantic commented on #198
Mind you, we only took over this code from the previous authors and are maintaining / extending it.

About your particular question, what exactly do you think doesn't match in that line?

`if (stmt->execute_result->null_bitmap[(column_counter+2)/8] & (1 << ((column_counter+2) % 8)))`

If we deconstruct this to the basics:

`null_bitmap[(column_counter+2)/8] & (1 << ((column_counter+2) % 8))`

So w

[2017-07-31 14:14] ruipacheco commented on #198
You're correct, this does make sense. I'm sorry for the confusion.

[2017-07-31 14:14] #198 closed

[2017-07-31 14:24] andreas-bok-sociomantic commented on #198
Hi @ruipacheco

I will have to look into the code a bit more.

Yeah, though it seems they are moving to doxygen generated docs but only for the latest development version...quite annoying: https://dev.mysql.com/doc/dev/mysql-server/latest/

AFAICS the null_bitmap is set in the function [`drizzle_state_binary_null_read`](https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/v5.x.x/libdrizzle

[2017-07-31 14:26] andreas-bok-sociomantic commented on #198
@mathias-baumann-sociomantic damn you, was too slow :)

[2017-07-31 14:27] ruipacheco commented on #198
I do believe this is correct so no need to waste any more time. I think the MariaDB docs are a bit too terse and I'd had problems with the documentation for the wire protocol being wrong before (which I flagged and they changed). And since MySQL seems to be moving to the X protocol (documentation first, it seems) I was thrown off.

Thanks for all the help!

[2017-07-31 14:31] andreas-bok-sociomantic commented on #198
@ruipacheco you are welcome. Btw is it working for you on OSX? Remember you reported an issue a while back

[2017-07-31 14:53] ruipacheco commented on #198
It builds fine, so I'd say all is good. Thanks for asking!

[2017-08-01 08:51] andreas-bok-sociomantic commented on #198
Happy to hear :)

[2017-08-19 16:42] kengruven opened #214 "Off-by-one error in drizzle_check_unpack_error()?"
When I run MySQL's command-line client with a fake schema name, it reports the error like this:

    $ mysql -uroot badname
    ERROR 1049 (42000): Unknown database 'badname'

When I try to connect using libdrizzle-redux:

        conn = drizzle_create("localhost", 3306, "root", "", "badname", nil)
        ok = drizzle_connect(conn)

the C string I get from `drizzle_error(conn)` is:

    "drizzle_

[2017-08-21 13:00] andreas-bok-sociomantic commented on #214
Reproduced the error and made a PR for a bugfix, #215
Thanks for reporting the bug :)

[2017-08-21 15:36] kengruven commented on #214
Great -- that was quick!  Thanks.

A couple remarks on error handling (which aren't bugs, really):

 - I think it would be handy to have just the server error available as a string, somehow, without the "drizzle_" function name.  It's nicer to present to users than raw MySQL error codes, and drizzle function names aren't useful to (application) users.  (I'm not sure why the drizzle function name i

[2017-08-21 16:15] kengruven opened #217 "Licensing clarification"
This project is under a BSD license, but beyond that, the license situation is not clear to me.  The top-level COPYING file says:

while the docs/license.rst file says:

Additionally, each source file seems to have a different copyright in its header comment.  For example, libdrizzle/pack.cc is:

while libdrizzle/poll.cc is:

and libdrizzle/structs.h is:

In all, there are 9 different BSD copyrigh

[2017-08-21 16:37] andreas-bok-sociomantic commented on #217
Definitely sounds updating headers to consolidate licensing is needs. Admittedly most files were left untouched after we took over the project from the original maintainers.

@leandro-lucarella-sociomantic, thoughts on this?

[2017-08-21 21:41] leandro-lucarella-sociomantic commented on #217
Not really, I wouldn't touch anything to avoid problems. I guess if you need to redistribute in binary form, just include all the copyrights. It is sort of normal for different files to have different copyrights.

[2017-08-22 09:58] andreas-bok-sociomantic commented on #217
However I guess I should change the copyright with my name to:
[code]

[2017-08-23 00:07] leandro-lucarella-sociomantic commented on #217
Add it to the files we touched. Yes.

[2017-08-23 01:14] kengruven commented on #217
Could we make COPYING and docs/license.rst have the same contents (or point one to the other), and make its contents the union of all the other licenses/copyrights?

Initially, I had assumed that obeying the top-level COPYING file would be sufficient to legally distribute this library.  (Otherwise, why would that file exist, if it's not accurately describing how I can copy it?)  It's only by accid

[2017-08-23 01:22] kengruven commented on #217
Another thing I just noticed: every file is has a "BSD" license, but it's not always the same.  Most have a standard-looking 3-clause BSD license, with the third clause that reads:

but in one of them, the third clause was changed (in da84cc11) to read the opposite:

I can't tell if this was intentional or not.

[2017-08-23 19:03] leandro-lucarella-sociomantic commented on #217
The issue here is we are not the original authors, we just picked an abandoned library because we needed to use it and we thought it was nice to keep our modifications public in case someone else find them useful.

So taking a look at exactly how many licenses are in there and find a way to put all in one file would be a huge task for us as for any other person. Since we don't distribute this libr

[2017-09-05 12:17] #190 closed

[2017-09-05 12:19] #214 closed

[2017-09-05 12:30] andreas-bok-sociomantic opened #228 "Support CI tests using docker-compose"
Currently **travis** CI builds run on the native build environment which based on based on **ubuntu trusty**.
To support build environments on newer versions of **ubuntu** the CI builds are required to run in a docker container.
One approach is using docker-compose to set up two containers, one running **MySQL** container and another one running the build environment.

A preliminary implementation

[2017-09-05 15:19] andreas-bok-sociomantic commented on #131
Made a dev branch for testing out code formatting with uncrustify.
Any input on the formatting style is appreciated :)
https://github.com/andreas-bok-sociomantic/libdrizzle-redux/tree/uncrustify,
7b05efd7668e26203c70c26c026b2595d5cb323b for formatting applied to

- [src/result.cc](https://github.com/andreas-bok-sociomantic/libdrizzle-redux/blob/uncrustify/libdrizzle/result.cc)
- [src/result.h](htt

[2017-09-06 16:50] andreas-bok-sociomantic commented on #131
@leandro-lucarella-sociomantic wondering if this is a not too insane way to add git pre hooks f2d97810c9fe2434c1bb98073587eb36112532af

[2017-09-08 14:42] leandro-lucarella-sociomantic commented on #131
I usually prefer not to include magic scripts to install things like git hooks. Instead I prefer to rely on documentation. I think you just add a check in the CI to make sure PRs complies to the style using uncrustify. Then is the developer's responsibility to fix it, and you can point to the docs to include uncrustify as a hook.

[2017-09-08 14:46] leandro-lucarella-sociomantic commented on #228
Ideally we should add support for `docker-compose` to beaver directly, but I think it's fine to start with a custom solution to get some feeling of what's needed.

That said, libdrizzle-redux is not the best project to start with because the build is so complex. I really get lost in the hundreds of LOC.

[2017-09-08 16:06] andreas-bok-sociomantic commented on #228
Oki. Next I will look into doing all Linux builds in docker, i.e with different compiler versions and rpm package  build in centos. Furthermore considering adding conditional builds for osx. Travis isn't really stable enough for those builds.

[2017-09-08 16:09] andreas-bok-sociomantic commented on #131
Oki, i will look into adding a hook in Travis. So do you suggest not including the uncrustify formatting config file at all? Or just the install wrapper script which shouldn't be included?

[2017-09-15 16:04] andreas-bok-sociomantic commented on #228
FYI @leandro-lucarella-sociomantic, The implementation now uses `docker-compose` for all linux based builds on `travis`.
Deployment to `bintray` is done as before, but with the deb packages generated in the docker-container.

https://github.com/andreas-bok-sociomantic/libdrizzle-redux/tree/use-docker-compose-for-ci

[2017-09-18 14:23] andreas-bok-sociomantic commented on #228
@leandro-lucarella-sociomantic do you reckon this change is ready to go PR. It would allow the libdrizzle-redux build to be removed from jenkins.

[2017-09-18 15:11] leandro-lucarella-sociomantic commented on #228
I think to evaluate that is better to do a PR, otherwise is hard to see what changes and make comments.

[2017-09-18 16:04] andreas-bok-sociomantic commented on #228
Created a **WIP** PR, #238

[2017-09-19 10:39] leandro-lucarella-sociomantic opened #239 "Remove Trusty support"
Remove trusty support from all projects. Trusty is already more than 3 years old and the latest LTS (Xenial) has already been out there for more than a year, so it should be enough to maintain the latest LTS only now.

[2017-09-21 13:37] #165 closed

[2017-09-21 13:42] andreas-bok-sociomantic commented on #55
c801fe46a3869cadd616063cab7e459a457decd2 announced the end of MinGW support

[2017-09-21 13:42] #55 closed

[2017-09-26 14:14] andreas-bok-sociomantic opened #241 "End of support for minor branches v5.5.x, v5.6.x and v6.0.x*"
We are planning to change the support guarantees for minor branches to include only the most recent,
cf.  #233
@chenzhuoyu AFAIK you are using `libdrizzle-redux` in production, is that correct?
Given your great contributions I won't go ahead with this if that would cause problems for your internal use of the library.

* v6.1.0 is almost ready to be released, so v6.0.x will of course receive patche

[2017-10-13 16:34] leandro-lucarella-sociomantic commented on #239
I tried to have a look at this but I don't understand the build system here, is too complex, I can't even find for which distro is this built. I guess is not using docker so it's built in the trusty travis env directly?

Can you take care of this @andreas-bok-sociomantic at some point (ideally not too far in the future, but not super high-prio).

[2017-10-16 09:39] andreas-bok-sociomantic commented on #239
Can you take care of this @andreas-bok-sociomantic at some point (ideally not too far in the future, but not super high-prio).

Sure.

Yes, the PR, #238, to build the project using `docker-compose` at **travis** was created for the purpose of allowing the project to be built on `xenial` and not the native trusty build environment.
In addition the `xenial` package is deployed to **bintray**.

So do

[2017-10-17 13:59] andreas-bok-sociomantic commented on #241
ping @chenzhuoyu

[2017-10-18 10:14] leandro-lucarella-sociomantic commented on #239
Yes, it should. Thanks!

[2017-10-18 16:38] andreas-bok-sociomantic commented on #239
Addressed comments from @leandro-lucarella-sociomantic
- removed overwrite flag `-O` in `travis` **deploy** step
- added note about all `ubuntu` builds are `xenial` only

[2017-10-19 16:53] andreas-bok-sociomantic commented on #241
I will close this due to lack of response.

[2017-10-19 16:53] #241 closed

[2017-10-19 21:10] mathias-lang-sociomantic opened #246 "Provide shlibs informations in the debian package"
It will be needed by an upcoming MakD release: https://github.com/sociomantic-tsunami/makd/pull/85
You will probably need `dh_shlibdeps`. Feel free to reach to me IRL so we can test it together.

[2017-10-20 04:02] chenzhuoyu commented on #241
Sorry for the late reply, we've already using v6.0.0. Once v6.1.0 is available, we will upgrade our library as soon as possible :) @andreas-bok-sociomantic

[2017-10-20 11:41] andreas-bok-sociomantic commented on #241
@chenzhuoyu, super. v6.0.1 is soon gonna be released. Possibly today.

[2017-10-20 11:52] andreas-bok-sociomantic commented on #228
Addresed by #238

[2017-10-20 11:52] #228 closed

[2017-10-20 11:54] andreas-bok-sociomantic opened #248 "Add guide to install from the library bintray apt repo"
With the migration to a build environment based on docker and xenial, instructions for how to use the apt repo at bintray should be added to README and the manual

[2017-10-20 12:06] andreas-bok-sociomantic opened #249 "Deploy rpm packages to bintray"
[`bintray`](https://www.jfrog.com/confluence/display/RTF/RPM+Repositories) offers `rpm` repositories hosting as well, hence it would make sense to deploy the generated `rpm` packages are being built on `travis` there.

[2017-10-20 15:13] andreas-bok-sociomantic opened #251 "Signing of deb packages"
Deb packages are now deployed to the public apt repository at `bintray`.
The option to sign packages with a **gpg** key is supported by `bintray` and would make sense to apply  when doing releases.

[2017-10-23 10:03] andreas-bok-sociomantic commented on #251
Apparently

[2017-10-23 10:03] #251 closed

[2017-10-23 14:02] andreas-bok-sociomantic commented on #246
So for the ship part the **fpm** flag `--deb-shlibs`, https://github.com/jordansissel/fpm/wiki should be used?
[code]
But it is not clear to me how the `shlibs` information is to be generated without getting into all the debian packaging magic, https://www.debian.org/doc/manuals/maint-guide/dreq.en.html

[2017-10-23 14:21] andreas-bok-sociomantic commented on #246
I assume we need to pass an argument to `--deb-shlibs` akin to this,
https://github.com/dimensio/libpng16-deb/blob/429f5e896614543471a523d88ee262a43fab233e/Makefile#L44

@leandro-lucarella-sociomantic is the `debhelper` tools (`dh_shlibdeps`) required to get the value to pass or does the value only relate to the version of the library, which we anyway extract in the `fpm` build script

[2017-10-26 15:37] #248 closed

[2017-11-03 16:32] leandro-lucarella-sociomantic commented on #246
To be honest this shlibs thing is good to me, so I would have to go through all the docs myself before being able to answer any questions. Let me know if you still need my help.

[2017-12-04 15:30] #135 closed

[2018-01-09 15:50] andreas-bok-sociomantic opened #272 "Caching of docker images on travis ci"
The docker images for `mysql` and `libdrizzle-redux` are downloaded in every build on `travis-ci`
There exist some guides on how to cache the needed docker images and share it between builds.

- https://giorgos.sealabs.net/docker-cache-on-travis-and-docker-112.html
- http://atodorov.org/blog/2017/08/07/faster-travis-ci-tests-with-docker-cache/

However from an initial implementation, the time to s

[2018-01-09 15:51] andreas-bok-sociomantic commented on #217
Will close the issue but it might be reopened if we decide to simplify the licensing.

[2018-01-11 16:37] leandro-lucarella-sociomantic commented on #217
Why closing it? It is in fact still an (open) issue and an important one. I would leave it open so is visible to  potential contributors that could fix it.

[2018-01-11 16:38] leandro-lucarella-sociomantic commented on #272
Sadly, it doesn't help according to my testing.

* https://github.com/sociomantic-tsunami/ocean/pull/103
* https://github.com/sociomantic-tsunami/ocean/issues/15

[2018-01-14 11:53] andreas-bok-sociomantic commented on #217
Reopening

[2018-02-02 16:23] andreas-bok-sociomantic opened #279 "End of support for v5.x.x"
libdrizzle-redux v5.x.x will no longer be supported with new features of bug fixes.

[2018-02-02 16:28] #272 closed

[2018-02-28 22:35] andreas-bok-sociomantic opened #284 "Travis overwrites environment variables CXX and CC"
The **CC** and **CXX** environment variables on the travis host build environment are exported AFTER the environment variables in the `.travis.yml` build specification.

Since the `docker-compose.yml` uses interpolated values of **CXX** and **CC** this meant that
all docker builds were run with **CXX=g++** and **CC=gcc**.

Cf. travis build log https://travis-ci.org/sociomantic-tsunami/libdrizzle-r

[2018-04-06 14:55] ben-palmer-sociomantic opened #286 "Add support for setting SSL verification mode"
Currently the SSL connections in libdrizzle-redux do not support setting the verification mode for the SSL connection (https://www.openssl.org/docs/man1.0.2/ssl/SSL_CTX_set_verify.html).

This should be set when setting up the SSL settings (https://github.com/sociomantic-tsunami/libdrizzle-redux/blob/597d2be70991be25c4545bf8031deb14612231e1/src/ssl.cc#L49-L90).

Exception handling will need to be

[2018-04-10 14:29] andreas-bok-sociomantic commented on #286
It seems like the SSL support in libdrizzle-redux is rather outdated and possibly not working.
Setting up the encrypted connection with `drizzle_set_ssl` and connecting fails with:

`drizzle_state_handshake_client_write:SSL error: 1 -
error:1409F080:
SSL routines:ssl3_write_pending:
bio not set(DRIZZLE_RETURN_SSL_ERROR) ]`

Thus it will require a more thorough review of the SSL support to get `SSL

[2018-04-12 15:47] andreas-bok-sociomantic commented on #286
I discussed the implementation of support for encrypted connections with @nemanja-boric-sociomantic.
Apart from the need to set the SSL verification mode other issues must be addressed as well to fix the `openssl` support. I will create separate issues for these.

[2018-04-12 15:49] andreas-bok-sociomantic opened #287 "Fix openssl support for encrypted connections"

[2018-04-12 15:49] ben-palmer-sociomantic commented on #286
Are these other fixes required to get a basic encrypted connection with no authentication?

[2018-04-12 15:51] nemanja-boric-sociomantic commented on #286
The biggest issue is that libdrizzle doesn't support encrypted non-blocking reads/writes, which is a huge blocker. Nevertheless, I think it can be adapted to allow that.

[2018-04-12 16:02] ben-palmer-sociomantic commented on #286
Ok yeah that is a bit of a big problem.

[2018-06-01 12:12] andreas-bok-sociomantic commented on #284
#271 merged

[2018-06-01 12:12] #284 closed

[2018-11-09 21:14] ruipacheco opened #321 "Can't build on latest macOS"
[code]

[2018-11-10 14:26] andreas-bok-sociomantic commented on #321
Hi.
AFAICS the openssl library and headerrs are not found which would explain the compilation error.

[code]

Compilation using the `bootstrap.sh` script also fails on my mac, so using that to build seems to be broken. This however is also the case on `ubuntu`.

I can compile on my mac running Mojave 10.14.1 using the manual build steps:

[code]

The configuration is:

[code]

[2018-12-24 15:20] #279 closed

[2019-01-07 13:25] bokchan commented on #321
Closing as no further details on the problem has been reported

[2019-01-07 13:27] bokchan commented on #131
Created a development branch here, https://github.com/bokchan/libdrizzle-redux/tree/uncrustify

[2019-02-14 11:52] bokchan commented on #246
@leandro-lucarella-sociomantic. Is this still relevant/required for compatibility with makd?
AFAICS the referenced issue (https://github.com/sociomantic-tsunami/makd/pull/85) has been closed without merge.

[2019-02-14 13:51] leandro-lucarella-sociomantic commented on #246
I think we can just assume fpm packaging is pretty basic and the packages provided here are not complete/good. Ideally the Debian tools should be used to create the packages, but for now I don't think it makes sense to spend time on this...

[2019-04-01 19:27] smanolache opened #340 "prepared statements and non-blocking I/O with external event loop"
Hello,

Using prepared statements with an external event loop and non-blocking I/O doesn't seem to work. I'm getting memory corruption problems when repeating the `drizzle_stmt_execute` call when the first call returned `DRIZZLE_RETURN_IO_WAIT`.

I've run my code in valgrind and it reports the memory issues:

  ==13304== Invalid write of size 2
  ==13304==    at 0x48921DC: drizzle_state_result_rea

[2019-04-01 19:56] bokchan commented on #340
Hi @smanolache.
Thanks for reporting the issue. I will look into it as soon as possible.

[2020-05-26 19:50] smanolache opened #343 "passwords of 32 chars are truncated to 31 chars"
Passwords of 32 chars are truncated to 31 chars in ````drizzle_set_auth````.

[2020-05-26 20:43] smanolache commented on #287
I try to address the issue in the following pull request: https://github.com/sociomantic-tsunami/libdrizzle-redux/pull/345